.subtitle {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #57b26a;
  padding: 12px 20px;
  margin: 0;
}

.panel-control {
  text-align: center;
  padding: 10px 0;
  background-color: #f0f8e0;
}

.subleyenda {
  font-size: 14px;
  text-align: center;
  color: #444;
  margin: 25px auto 35px;
  max-width: 900px;
  line-height: 1.4;
  display: block;
}



.reporte-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 60px 40px;
  justify-items: center;
}

.reporte-card {
  background-color: #ddd;
  border: 2px solid #f5c87a;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  width: 220px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, background-color 0.2s;
}

.reporte-card:hover {
  background-color: #c6c6c6;
  transform: translateY(-3px);
}
