.scrap-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
}

.scrap-opciones {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.scrap-card {
  width: 220px;
  height: 140px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  text-align: center;
}

.scrap-card:hover {
  background-color: #388e3c;
  transform: scale(1.05);
}
